main {
    background-color: rgb(250, 250, 250);
    padding-top: 85px;
}

.home-contaier {
    max-width: 935px;
    margin: auto;
    display: flex;
    
}
.home-left{
    max-width: 614px;
    width: 100%;
    margin-right: 28px;
}
.home-story{
    background-color: #fff;
    width: 612px;
    height: 85px;
    padding: 16px 0;
    border-left: solid 1px rgb(219, 219, 219);
    border-right: solid 1px rgb(219, 219, 219);
    border-bottom: solid 2px rgb(219, 219, 219);
    border-top: solid 2px rgb(219, 219, 219);
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 24px;
}
.home-story-menu{
    display: flex;
}
.home-story-item{
    margin-left: 15px;
    list-style: none;
}

.home-story-item img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    padding: 1px;
    border: 2px solid rgb(235, 63, 63);
}
.home-story-item p{
    text-align: center;
    color: rgb(28, 27, 27);
    font-size: 12px;
    margin-top: 7px;
}
.home-post{
    background-color: #fff;
    width: 612px;
    border-radius: 3px;
    border-left: solid 1px rgb(219, 219, 219);
    border-right: solid 1px rgb(219, 219, 219);
    border-bottom: solid 2px rgb(219, 219, 219);
    border-top: solid 2px rgb(219, 219, 219);
    margin-bottom: 25px;
}
.header-post{
    padding: 15px 0 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.infor-user-post{
    display: flex;
    align-items: center;
}
.infor-user-post img{
    width: 32px;
    height: 32px;
    padding: 1px;
    border-radius: 50%;
    border: 2px solid rgb(235, 63, 63);
    object-fit: cover;
    margin-left: 20px;
    cursor: pointer;
}
.infor-user-post span{
    color: rgb(38,38,38);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 14px;
}
.icon-header-post{
    margin-right: 15px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.img-container-post img{
    width: 100%;
    height: 767px;
    object-fit: cover;
}
.assess-post{
    width: 95%;
    margin: auto;
}
.like-cmt-post{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.like-cmt-icon{
    width: 26px;
    height: 26px;
    color: rgb(23, 23, 23);
    cursor: pointer;

}
.like-cmt-icon:hover{
    opacity: 0.5;
}
.like-cmt .like-cmt-icon:not(:first-child){
    margin-left: 20px;
}
.number-like{
    font-weight: 700;
    font-size: 14px;
}
.content-user{
    display: flex;
    font-size: 14px;
    margin-top: 10px;
}
.name-user{
    font-weight: 700;
}
.content-user p{
    font-weight: 400;
    color: rgb(38,38,38);
    margin-left: 10px;
    
}
.number-comt{
    font-size: 14px;
    color: rgb(142,142,142);
    margin: 8px 0;
    cursor: pointer;
}
.comment-user{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.comment-user-left{
    display: flex;
}
.comment-user-right{
    cursor: pointer;
}
.comment-user-right:hover{
    opacity: 0.5;
}
.comment-user p{
    font-weight: 700;
    font-size: 14px;
}
.comment-user span{
    font-weight: 400;
    color: rgb(38,38,38);
    margin-left: 10px;
    font-size: 14px;
}
.number-day{
    color: rgb(142,142,142);
    font-size: 10px;
    margin-bottom: 15px;
}
.footer-post{
    display: flex;
    padding: 14px 0;
    border-top: 1px solid rgb(219, 219, 219);
    
}
.footer-post-left{
    flex: 1;
    display: flex;
}
.footer-post-left input{
    flex:1;
    border: none;
    outline: none;
    font-size: 14px;
}
.footer-post button{
    border: none;
    cursor: pointer;
    color: rgb(0, 149, 246);
    opacity: 0.3;
    font-size: 14px;
}
.width-95{
    width: 95%;
    margin: auto;
    display: flex;
}
.footer-post-left-icon{
    height: 26px;
    width: 26px;
    margin-right: 10px;
}
.home-right{
    max-width: 293px;
    width: 100%;
    margin-top: 20px;
}
.home-right-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.you-user{
    display: flex;
    align-items: center;
}
.home-right-top button{
    border: none;
    background-color: transparent;
    color: #0095F6;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
}
.you-user img{
    border-radius: 50%;
    height: 56px;
    width: 56px;
}
.name-you{
    margin-left: 12px;
}
.name-you p{
    font-weight: 700;
    color: rgb(38,38,38);
    font-size: 14px;
    cursor: pointer;
}
.name-you span{
    font-size: 14px;
    color: #8E8E8E;
}
.right-container-top{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.right-container-top span{
    font-size: 14px;
    color: #8E8E8E;
}
.right-container-top p{
    color: #262626;
    font-size: 12px;
    font-weight: 600;
}
.right-container{
    margin-top: 20px;
}
.can-follow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.can-follow button{
    border: none;
    background-color: transparent;
    color: #0095F6;
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
    margin-right: 14px;
}
.info-follow{
    display: flex;
    align-items: center;
}
.info-follow img{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}
.name-follow{
    margin-left: 12px;
}
.name-follow span{
    font-size: 12px;
    color: #8E8E8E;
}
.name-follow p{
    font-size: 14px;
    color: #262626;
    font-weight: 700;
}
.home-right-footer{
    margin-top: 25px;
    
}
.home-right-footer ul{
    display: flex;
    flex-wrap: wrap;
}
.home-right-footer li{
    list-style: none;
    position: relative;
    
}
.home-right-footer li:not(:first-child){
    margin-left: 8px;
}
.home-right-footer li:not(:last-child):after{
    content: ".";
    font-size: 18px;
    color: #C7C7C7;
    position: relative;
    top:-10%;
    left: 4px;
}
.home-right-footer a{
    text-decoration: none;
    color:#C7C7C7;
    font-size: 12px;
}
.home-right-footer p{
    color: #C7C7C7;
    font-size: 12px;
    margin-top: 20px;
}
