@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Pacifico&family=Smooch&family=The+Nautigal:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

:root {
    --text-color: #6c757d;
    --leading-color: #00b14f
}

.width50 {
    width: 50%;
}
.width30{
    width: 30%;
    position: relative;
}
.register {
    display: flex;

}

.container-register {
    width: 63%;
    padding-top: 6%;
    margin: auto;
}

.register-logo-link {
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 30px;
    color: #000;
}

.right-logo {
    color: var(--leading-color);
}

.register-content {
    padding-bottom: 16px;
}

.register-content-top {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.register-content-bot {
    font-size: 14px;
    color: var(--text-color);
    width: 80%;
}

.register-input {
    margin-bottom: 14px;
}

.register-input_title {
    margin: 0 0 8px 0;
}

.input-group {

    border: solid 1px #ccc;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.input-group input {
    margin-left: 15px;
    border: none;
    flex: 1;
    outline: none;
    font-size: 15px;
    padding: 11px 0;


}

.register-input_icon {
    color: var(--leading-color);
    margin-left: 10px;
    font-size: 16px;
}

.register-agree {
    font-size: 14px;
}

.register-agree span {
    color: var(--leading-color);
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: var(--leading-color);
    color:#fff;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}
.want-login{
    font-size: 14px;
    margin: 30px 0 30px;
}
.want-login p{
    display: flex;
    justify-content: space-between;
}
.want-login a{
    color: var(--leading-color);
    font-weight: 700;
    text-decoration: none;
    
}
.register-footer{
    position: relative;
    padding-bottom: 60px;
    padding-top: 20px;
}
.register-footer::before{
    content: "";
    width: 100%;
    border-top: 1px solid #eee;
    position: absolute;
    top:0;
}
.register-footer p{
margin: 0;
font-size: 12px;
}
.register-footer p:first-child{
    font-weight: 700;
    margin-bottom: 6px;
}

.register-slider{
    max-height: 100%;
   background:  transparent linear-gradient(90deg,rgba(61,217,131,.05),rgba(0,255,85,.05)) 0 0 no-repeat padding-box;
   position: relative;
}
.register-sli{
    position: absolute;
    top:10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-slider-img{
    width: 90%;
    margin-bottom: 30px;
}
.register-sli p{
    font-size: 24px;
    color: #212f3f;
}
.register-sli span{
    color: #000000d9;
    font-size: 16px;
    text-align: center;
}
.registor-error{
    background-color: rgba(255,69,58,.05);
    color: #ff453a;
    font-size: 14px;
    width: 100%;
    padding: 12px 17px;
    margin: 15px 0 30px;
    box-sizing: border-box;

}

.login-different{
    display: flex;
    justify-content: space-between;
}
.icon-login{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 10%;
    font-size: 16px;
    color: #fff;
    z-index: 2;
}
.hoac{
    text-align: center;
    font-size: 12px;
}